@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500&family=Roboto:wght@300;400;500&display=swap");
nav {
  background-color: #42033d;
  padding: 20px 30px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav img {
    width: 100px;
    float: left;
    margin-left: 20px; }
  nav ul {
    display: flex; }
    nav ul li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px; }
      nav ul li a {
        color: #E7D0F1;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        display: inline-block;
        padding: 20px 20px;
        margin-right: 20px; }
        nav ul li a:hover {
          color: white; }

header {
  width: 99vw;
  height: 100vh;
  animation-name: headerCarrusel;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  background-size: cover;
  animation-timing-function: ease-in-out; }

@keyframes headerCarrusel {
  0% {
    background-image: url(../imagenes/flores.jpg); }
  50% {
    background-image: url(../imagenes/reiki.png); }
  100% {
    background-image: url(../imagenes/tarot1.jpg); } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 300px;
  width: 100%;
  overflow-x: hidden; }

h1 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #42033d;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center; }

h3 {
  color: #42033d;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

p {
  color: #E7D0F1;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: center; }

.fondoDestacados {
  background-color: #42033d;
  display: flex;
  justify-content: space-between;
  margin-top: 0px; }
  .fondoDestacados figure {
    text-align: center; }
    .fondoDestacados figure img {
      width: 70%;
      margin-top: 30px;
      border-radius: 50%; }
      .fondoDestacados figure img:hover {
        transform: scale(1.03); }
    .fondoDestacados figure figcaption {
      font-size: 1.5rem;
      color: white;
      padding: 10px 0;
      font-family: "Roboto", sans-serif; }

footer {
  background-color: #E7D0F1;
  margin-top: 2rem;
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 50px; }
  footer img {
    width: 35px;
    padding-right: 5px; }
