*{
	margin: 0;
	padding: 0;
}

html{
	font-size:62.5% ;
}

body{
   background-image: url(../Imagenes/fondo2.jpg);
   background-repeat: repeat;
   background-attachment:fixed;
   background-size: 300px;
   width: 100%;
   overflow-x: hidden;

}

h1{
	font-family: $secondaryFont;
	font-weight: $bold;
	font-size: $textLg;
	color: $mainColor;
	margin-bottom: 20px;
	margin-top: 30px;
	text-align: center;
}

h3{
	color: $mainColor;
	font-size: $textMd;
	font-family: $mainFont;
	font-weight: $ligth;
}

p{
	color: $secondaryColor;
	font-size: $textMd;
	font-family: $mainFont;
	padding: 10px 0;
	margin-bottom: 20px;
	text-align: center;
}