*{
	margin: 0;
	padding: 0;
}

html{
	font-size:62.5% ;
}

body{
   background-image: url(../imagenes/fondo2.jpg);
   background-repeat: repeat;
   background-attachment:fixed;
   background-size: 300px;
   width: 100%;
   overflow-x: hidden;

}

h1,
h4{
	font-family: $secondaryFont;
	font-weight: $bold;
	font-size: $textLg;
	color: $mainColor;
	margin-bottom: 20px;
	margin-top: 30px;
	text-align: center;
}

h3{
	color: $mainColor;
	@include texto($textMd, $mainFont, $ligth)
}

p{
	@include texto($textMd, $mainFont, $ligth)
	color: $secondaryColor;
	padding: 10px 0;
	margin-bottom: 20px;
	text-align: center;
}

article p{
	background-color: $secondaryColor;
	text-align: center;
	width:50%;
	height: auto;
	border: none;
   overflow: auto;
   font-size: $textMd;
   font-weight: $regular;
   color: map-get($map: $estilos, $key: color);
   font-family: $mainFont;
   margin: 10px auto;
	padding: 20px 20px;
}