@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500&family=Roboto:wght@300;400;500&display=swap');
//fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto', serif;

//text sizing
$textSm: 1rem;
$textMd: 1.5rem;
$textLg: 2rem;

//font weight
$bold:500;
$regular:400;
$ligth:300;