footer{
	background-color: $secondaryColor;
	margin-top: 2rem;
  	flex-direction: row-reverse;
  	align-items: center;
   	display: flex;
   	padding-top: 10px;
   	padding-bottom: 5px;
 	padding-right: 50px;
 	img{
 		width: 35px;
		padding-right: 5px;
 	}
}