
.bgVioleta{
	background-color:$mainColor;
}

#btn-menu{
    color: $white;
    font-size: 18px;
    background-color:  $secondaryColor;
    margin-right: 30px;
}

#botonera img{
	width: 100px;
	margin-left: 30px;
}

.navColor{
	color: $secondaryColor;
	font-size: $textMd;
	font-family:$mainFont;
   font-weight: $regular;
   padding: 30px 30px;
   margin-right: 30px;
   &:hover{
    	color:$white;
    }
}




