.fondoSection{
	background-color: $mainColor;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
	
}

.imagenCaras{
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 110px;
  border-radius: 50%;
}

.fondoTexto{
	background-color:$mainColor;
	margin-left: 8px;
	margin-right: 8px;

}