.textLeft{
	text-align: left;
}

.categorias{
	background-color: $secondaryColor;
	color:$mainColor ;
	padding: 10px 30px;
	line-height: 1.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-size: $textMd;
	font-family:$mainFont;
   font-weight: $regular;
   form{
		margin-bottom: 20px;
	}
	img{
		margin-bottom: 30px;
	}

}


figure{
	text-align: center;
		img{
			width: 70%;
			margin-top: 30px;
			border-radius:50%;
			&:hover{
				transform: scale(1.03);
				}
			}
		figcaption{
			font-size: $textMd;
			color: $white ;
			padding: 10px 0;
			font-family: $mainFont;
			}
}


ul li{
	list-style: none;
	a{
		text-decoration: none;
		color: $mainColor;
		&:hover{
			font-weight: $bold;
			color: $mainColor;
		}

	}
}

form select{
	background-color: $mainColor;
	color: $white;
	border-color: $white;
	margin-top: 25px;
}